# Created by https://www.gitignore.io/api/vagrant,macos

# Vagrant
.vagrant/
Vagrantfile

# Ignore web directory
www/*
!www/html/
www/html/*
!www/html/.gitkeep

# macOS
*.DS_Store
.AppleDouble
.LSOverride

# Ubuntu 16.04 vagrant
ubuntu-xenial-16.04-cloudimg-console.log

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
